{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, asperiores</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Adipisci aliquam, asperiores atque commodi debitis deleniti distinctio doloremque dolorum earum, eos
                expedita fuga harum ipsa iusto magni molestias nemo nisi officiis.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Ab acsequuntur, aliquam asperiores atque commodi debitis deleniti distinctio doloremque dolorum earum,
                eos</p>
        </div>
    </div>
{% endblock %}